Category_SEO/v1.json
{
  "name": "SEO Proposal Generator",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "seo-proposal-generator",
        "responseMode": "responseNode",
        "options": {
          "responseCode": 200,
          "responseHeaders": {
            "entries": [
              {
                "name": "Content-Type",
                "value": "application/json"
              }
            ]
          }
        }
      },
      "id": "webhook-trigger",
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [-1000, 400],
      "webhookId": "seo-proposal-webhook"
    },
    {
      "parameters": {
        "jsCode": "// Validate required fields\nconst requiredFields = ['company_name', 'website_url', 'industry', 'target_locations', 'business_goals', 'target_audience', 'contact_email'];\nconst errors = [];\nconst inputData = items[0].json;\n\n// Check required fields\nrequiredFields.forEach(field => {\n  if (!inputData[field] || inputData[field].trim() === '') {\n    errors.push(`Missing required field: ${field}`);\n  }\n});\n\n// URL validation\nif (inputData.website_url) {\n  const urlPattern = /^https?:\\/\\/.+\\..+/;\n  if (!urlPattern.test(inputData.website_url)) {\n    errors.push('Invalid website URL format');\n  }\n}\n\n// Email validation\nif (inputData.contact_email) {\n  const emailPattern = /^[^\\s@]+@[^\\s@]+\\.[^\\s@]+$/;\n  if (!emailPattern.test(inputData.contact_email)) {\n    errors.push('Invalid email format');\n  }\n}\n\nif (errors.length > 0) {\n  throw new Error(`Validation failed: ${errors.join(', ')}`);\n}\n\n// Normalize data\nconst normalizedData = {\n  ...inputData,\n  competitors_array: inputData.competitors \n    ? inputData.competitors.split(',').map(c => c.trim()).filter(c => c)\n    : ['Competitor 1', 'Competitor 2', 'Competitor 3'],\n  formatted_date: new Date().toLocaleDateString('en-US', {\n    year: 'numeric',\n    month: 'long',\n    day: 'numeric'\n  }),\n  package_preference: inputData.package_preference || 'growth',\n  urgency: inputData.urgency || 'standard',\n  agency_name: 'Butterfly Digital'\n};\n\nreturn [{ json: normalizedData }];"
      },
      "id": "data-validation",
      "name": "Data Validation",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [-800, 400],
      "retryOnFail": false,
      "continueOnFail": false
    },
    {
      "parameters": {
        "values": {
          "values": [
            {
              "name": "company_name",
              "value": "={{ $json.company_name }}"
            },
            {
              "name": "website_url",
              "value": "={{ $json.website_url }}"
            },
            {
              "name": "industry",
              "value": "={{ $json.industry }}"
            },
            {
              "name": "location",
              "value": "={{ $json.target_locations }}"
            },
            {
              "name": "competitors_list",
              "value": "={{ $json.competitors_array.join(', ') }}"
            },
            {
              "name": "business_goals",
              "value": "={{ $json.business_goals }}"
            },
            {
              "name": "target_audience",
              "value": "={{ $json.target_audience }}"
            },
            {
              "name": "date",
              "value": "={{ $json.formatted_date }}"
            },
            {
              "name": "agency_name",
              "value": "={{ $json.agency_name }}"
            },
            {
              "name": "package_preference",
              "value": "={{ $json.package_preference }}"
            },
            {
              "name": "contact_email",
              "value": "={{ $json.contact_email }}"
            }
          ]
        },
        "options": {}
      },
      "id": "set-global-variables",
      "name": "Set Global Variables",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [-600, 400]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Create a professional title slide for an SEO Strategy proposal with:\n- Title: \"{{ $json.company_name }} SEO Strategy\"\n- Subtitle: \"Optimizing Digital Visibility & Lead Generation for {{ $json.industry }}\"\n- Agency: {{ $json.agency_name }}\n- Date: {{ $json.date }}\n\nFormat as clean, professional text with clear labels for each element. Make it suitable for a presentation slide.",
        "hasOutputParser": true
      },
      "id": "ai-title-slide",
      "name": "AI: Title Slide",
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.5,
      "position": [-400, 200],
      "retryOnFail": true,
      "maxTries": 3
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=For {{ $json.company_name }} in the {{ $json.industry }} sector, write 3 compelling value propositions for SEO investment:\n\n1. How SEO drives sustainable organic visibility in {{ $json.industry }}\n2. How optimized content reduces dependency on paid advertising\n3. How local SEO and Google Business Profile enhance trust in {{ $json.location }}\n\nEach point should be 1-2 sentences, specific to B2B {{ $json.industry }} companies. Focus on ROI and business impact.",
        "hasOutputParser": true
      },
      "id": "ai-value-seo",
      "name": "AI: Value of SEO",
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.5,
      "position": [-200, 200],
      "retryOnFail": true,
      "maxTries": 3
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Analyze the current SEO position for {{ $json.website_url }}:\n- Compare against competitors: {{ $json.competitors_list }}\n- Identify key areas of underperformance\n- Industry context: {{ $json.industry }} in {{ $json.location }}\n\nFormat: One bold headline statement + 2-3 supporting sentences explaining the competitive gap and opportunities.",
        "hasOutputParser": true
      },
      "id": "ai-current-state",
      "name": "AI: Current State",
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.5,
      "position": [0, 200],
      "retryOnFail": true,
      "maxTries": 3
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=List 6 major SEO issues for {{ $json.industry }} websites:\n\n1. Website Performance - Technical issues impacting speed and crawlability\n2. SEO & Content - Keyword gaps and content optimization opportunities\n3. Local Presence - Google Business Profile optimization gaps\n4. Domain Authority - Backlink profile weaknesses\n5. Mobile Optimization - Mobile performance and usability issues\n6. Social Media Presence - Brand visibility and engagement gaps\n\nFormat each as: Category name + 1-2 sentence description specific to {{ $json.industry }}",
        "hasOutputParser": true
      },
      "id": "ai-key-issues",
      "name": "AI: Key Issues",
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.5,
      "position": [200, 200],
      "retryOnFail": true,
      "maxTries": 3
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Write 4 reasons why SEO is performance marketing for {{ $json.industry }}:\n\n1. Measurable Growth - specific metrics and tracking capabilities\n2. High-Intent Traffic - targeting active searchers in {{ $json.industry }}\n3. Continuous Optimization - data-driven improvements and testing\n4. Cost-Efficient Results - long-term ROI vs paid channels\n\nEach point: Bold title + 2-3 sentences explaining the benefit for B2B {{ $json.industry }} companies.",
        "hasOutputParser": true
      },
      "id": "ai-performance-marketing",
      "name": "AI: Performance Marketing",
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.5,
      "position": [400, 200],
      "retryOnFail": true,
      "maxTries": 3
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Create 6 prioritized SEO focus areas for {{ $json.company_name }}:\n\nHIGH PRIORITY (mark with 🟥):\n1. Website Optimization - Technical foundation\n2. Local SEO & GBP - Local visibility\n3. Content Strategy - Targeted content creation\n\nIMPORTANT (mark with 🟦):\n4. Backlink Strategy - Authority building\n5. Social Media SEO - Brand signals\n6. Technical SEO - Advanced optimization\n\nFormat: Priority icon + Area name + Brief description (1 line) specific to {{ $json.industry }}",
        "hasOutputParser": true
      },
      "id": "ai-focus-areas",
      "name": "AI: Focus Areas Overview",
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.5,
      "position": [600, 200],
      "retryOnFail": true,
      "maxTries": 3
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=For Website Optimization, create 5 specific action items for {{ $json.company_name }}:\n\n- Fix technical errors (broken links, missing meta descriptions)\n- Improve Core Web Vitals (target 90+ scores across all metrics)\n- Ensure mobile responsiveness across all pages\n- Eliminate mixed content and security issues\n- Enhance internal linking structure\n\nInclude specific numbers, timelines, and {{ $json.industry }}-specific recommendations for each action item.",
        "hasOutputParser": true
      },
      "id": "ai-website-optimization",
      "name": "AI: Website Optimization",
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.5,
      "position": [-400, 400],
      "retryOnFail": true,
      "maxTries": 3
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=For Local SEO & Google Business Profile, create 5 specific action items for {{ $json.company_name }} in {{ $json.location }}:\n\n- Complete GBP profile with all business information\n- Add high-quality photos and virtual tours\n- Implement review generation strategy\n- Create location-specific landing pages\n- Build local citations and directory listings\n\nFocus on {{ $json.industry }} businesses in {{ $json.location }} market.",
        "hasOutputParser": true
      },
      "id": "ai-local-seo",
      "name": "AI: Local SEO",
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.5,
      "position": [-200, 400],
      "retryOnFail": true,
      "maxTries": 3
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=For Content Strategy, create 5 specific action items for {{ $json.company_name }}:\n\n- Develop topic clusters around {{ $json.industry }} keywords\n- Create buyer persona content for \"{{ $json.target_audience }}\"\n- Implement content calendar with consistent publishing\n- Optimize existing content for search intent\n- Create multimedia content (videos, infographics)\n\nAlign all recommendations with business goal: {{ $json.business_goals }}",
        "hasOutputParser": true
      },
      "id": "ai-content-strategy",
      "name": "AI: Content Strategy",
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.5,
      "position": [0, 400],
      "retryOnFail": true,
      "maxTries": 3
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=For Backlink Strategy, create 5 specific action items for {{ $json.company_name }}:\n\n- Analyze competitor backlink profiles ({{ $json.competitors_list }})\n- Create linkable assets for {{ $json.industry }}\n- Outreach to industry publications and blogs\n- Build partnerships with complementary businesses\n- Monitor and disavow toxic backlinks\n\nFocus on building authority in {{ $json.industry }} sector.",
        "hasOutputParser": true
      },
      "id": "ai-backlink-strategy",
      "name": "AI: Backlink Strategy",
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.5,
      "position": [200, 400],
      "retryOnFail": true,
      "maxTries": 3
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=For Social Media SEO, create 5 specific action items for {{ $json.company_name }}:\n\n- Optimize social profiles with keywords\n- Create shareable content for {{ $json.target_audience }}\n- Implement social listening for brand mentions\n- Engage with industry influencers\n- Cross-promote content across platforms\n\nAlign social strategy with SEO goals for {{ $json.industry }}.",
        "hasOutputParser": true
      },
      "id": "ai-social-media",
      "name": "AI: Social Media SEO",
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.5,
      "position": [400, 400],
      "retryOnFail": true,
      "maxTries": 3
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=For Technical SEO, create 5 specific action items for {{ $json.company_name }}:\n\n- Implement structured data markup\n- Optimize XML sitemap and robots.txt\n- Fix crawl errors and redirect chains\n- Implement international SEO if applicable\n- Set up advanced tracking and monitoring\n\nProvide technical specifications relevant to {{ $json.industry }} websites.",
        "hasOutputParser": true
      },
      "id": "ai-technical-seo",
      "name": "AI: Technical SEO",
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.5,
      "position": [600, 400],
      "retryOnFail": true,
      "maxTries": 3
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Create 3-tier SEO packages for {{ $json.company_name }}. The user prefers: {{ $json.package_preference }} package.\n\nStarter SEO ($200/month):\n- 20-25 hours/month\n- 2 blog posts/month\n- Basic GBP setup\n- Monthly reporting\n\nGrowth SEO ($350/month) - RECOMMENDED:\n- 45-50 hours/month\n- 4 blog posts/month\n- Full GBP optimization\n- Backlink building\n- Bi-weekly reporting\n\nAdvanced SEO ($500/month):\n- 60-70 hours/month\n- 6+ blog posts/month\n- Comprehensive SEO management\n- Priority support\n- Weekly reporting\n\nDetail specific deliverables for {{ $json.industry }} businesses.",
        "hasOutputParser": true
      },
      "id": "ai-packages",
      "name": "AI: SEO Packages",
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.5,
      "position": [-400, 600],
      "retryOnFail": true,
      "maxTries": 3
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Create realistic 6-12 month SEO projections for {{ $json.company_name }} based on {{ $json.package_preference }} package:\n\n1. Organic Traffic: Baseline → 200-300% increase\n2. Keyword Rankings: Current → 150-200 keywords ranked\n3. Domain Authority: Current → Increase by 10-15 points\n4. Local Visibility: Current → Complete GBP optimization\n5. Lead Generation: Current → Specific improvements\n\nMake projections realistic and specific for {{ $json.industry }} in {{ $json.location }}. Include monthly milestones.",
        "hasOutputParser": true
      },
      "id": "ai-roi-projections",
      "name": "AI: ROI Projections",
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.5,
      "position": [-200, 600],
      "retryOnFail": true,
      "maxTries": 3
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Write a powerful closing for {{ $json.company_name }}'s SEO proposal:\n\n- Emphasize strategic value of SEO for {{ $json.industry }}\n- Highlight measurable growth and ROI\n- Reference competitive advantage over: {{ $json.competitors_list }}\n- Connect to their goal: {{ $json.business_goals }}\n- Create urgency without being pushy\n\nFormat: Bold headline + 2 paragraphs (3-4 sentences each). Make it compelling and action-oriented.",
        "hasOutputParser": true
      },
      "id": "ai-conclusion",
      "name": "AI: Conclusion",
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.5,
      "position": [0, 600],
      "retryOnFail": true,
      "maxTries": 3
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Create a call-to-action slide for {{ $json.company_name }}:\n\n- Headline: \"Your SEO Journey Starts Here\"\n- List 3 immediate next steps\n- Include contact: {{ $json.contact_email }}\n- Add motivating closing statement\n- Reference their {{ $json.urgency }} timeline\n\nKeep it simple, action-oriented, and professional. Format for easy reading.",
        "hasOutputParser": true
      },
      "id": "ai-call-to-action",
      "name": "AI: Call to Action",
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.5,
      "position": [200, 600],
      "retryOnFail": true,
      "maxTries": 3
    },
    {
      "parameters": {
        "jsCode": "// Compile all AI outputs into a formatted document\nconst sections = [];\nconst divider = '\\n\\n' + '='.repeat(60) + '\\n\\n';\n\n// Get all node outputs\nconst nodes = [\n  { name: 'AI: Title Slide', title: 'SLIDE 1: TITLE' },\n  { name: 'AI: Value of SEO', title: 'SLIDE 2: THE VALUE OF SEO' },\n  { name: 'AI: Current State', title: 'SLIDE 3: CURRENT STATE ANALYSIS' },\n  { name: 'AI: Key Issues', title: 'SLIDE 4: KEY ISSUES TO ADDRESS' },\n  { name: 'AI: Performance Marketing', title: 'SLIDE 5: SEO AS PERFORMANCE MARKETING' },\n  { name: 'AI: Focus Areas Overview', title: 'SLIDE 6: STRATEGIC FOCUS AREAS' },\n  { name: 'AI: Website Optimization', title: 'SLIDE 7: WEBSITE OPTIMIZATION' },\n  { name: 'AI: Local SEO', title: 'SLIDE 8: LOCAL SEO & GOOGLE BUSINESS PROFILE' },\n  { name: 'AI: Content Strategy', title: 'SLIDE 9: CONTENT STRATEGY' },\n  { name: 'AI: Backlink Strategy', title: 'SLIDE 10: BACKLINK STRATEGY' },\n  { name: 'AI: Social Media SEO', title: 'SLIDE 11: SOCIAL MEDIA SEO' },\n  { name: 'AI: Technical SEO', title: 'SLIDE 12: TECHNICAL SEO' },\n  { name: 'AI: SEO Packages', title: 'SLIDE 13: SEO PACKAGES' },\n  { name: 'AI: ROI Projections', title: 'SLIDE 14: EXPECTED RESULTS' },\n  { name: 'AI: Conclusion', title: 'SLIDE 15: STRATEGIC CONCLUSION' },\n  { name: 'AI: Call to Action', title: 'SLIDE 16: NEXT STEPS' }\n];\n\n// Add header\nsections.push('# SEO STRATEGY PROPOSAL');\nsections.push(`## ${$('Set Global Variables').item.json.company_name}`);\nsections.push(`### Prepared by ${$('Set Global Variables').item.json.agency_name}`);\nsections.push(`### ${$('Set Global Variables').item.json.date}`);\nsections.push(divider);\n\n// Add each section\nnodes.forEach(node => {\n  try {\n    const content = $(node.name).item.json.output || $(node.name).item.json.text || 'Content pending...';\n    sections.push(`### ${node.title}`);\n    sections.push(content);\n    sections.push(divider);\n  } catch (error) {\n    sections.push(`### ${node.title}`);\n    sections.push('[Section content generation in progress]');\n    sections.push(divider);\n  }\n});\n\n// Add metadata\nsections.push('### PROPOSAL METADATA');\nsections.push(`Generated: ${new Date().toISOString()}`);\nsections.push(`Client: ${$('Set Global Variables').item.json.company_name}`);\nsections.push(`Industry: ${$('Set Global Variables').item.json.industry}`);\nsections.push(`Location: ${$('Set Global Variables').item.json.location}`);\nsections.push(`Package Preference: ${$('Set Global Variables').item.json.package_preference}`);\n\n// Combine into single document\nconst fullDocument = sections.join('\\n');\n\nreturn [{\n  json: {\n    proposal_content: fullDocument,\n    client_email: $('Set Global Variables').item.json.contact_email,\n    company_name: $('Set Global Variables').item.json.company_name,\n    original_input: $('Data Validation').item.json\n  }\n}];"
      },
      "id": "document-assembly",
      "name": "Document Assembly",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [600, 600],
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "// Create multiple format outputs\nconst content = items[0].json.proposal_content;\nconst company = items[0].json.company_name;\n\n// Plain text version\nconst textVersion = content;\n\n// Markdown version with enhanced formatting\nconst markdownVersion = content\n  .replace(/### SLIDE/g, '## ')\n  .replace(/^# /gm, '# ')\n  .replace(/🟥/g, '**[HIGH PRIORITY]**')\n  .replace(/🟦/g, '**[IMPORTANT]**');\n\n// HTML version\nconst htmlVersion = `<!DOCTYPE html>\n<html>\n<head>\n  <meta charset=\"UTF-8\">\n  <title>SEO Proposal - ${company}</title>\n  <style>\n    body { \n      font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Arial, sans-serif; \n      line-height: 1.8; \n      color: #2c3e50; \n      max-width: 900px; \n      margin: 0 auto; \n      padding: 40px 20px;\n      background: #f8f9fa;\n    }\n    .container {\n      background: white;\n      padding: 60px;\n      border-radius: 10px;\n      box-shadow: 0 2px 10px rgba(0,0,0,0.1);\n    }\n    h1 { \n      color: #6B46C1; \n      text-align: center; \n      margin-bottom: 10px;\n      font-size: 2.5em;\n    }\n    h2 { \n      color: #4a5568;\n      text-align: center;\n      margin-bottom: 30px;\n      font-weight: 400;\n    }\n    h3 { \n      color: #2d3748; \n      border-bottom: 2px solid #6B46C1; \n      padding-bottom: 10px; \n      margin-top: 40px;\n      margin-bottom: 20px;\n      font-size: 1.5em;\n    }\n    .divider { \n      border-top: 1px solid #e2e8f0; \n      margin: 40px 0; \n    }\n    ul { \n      margin-left: 0;\n      padding-left: 25px;\n    }\n    li { \n      margin-bottom: 10px; \n      line-height: 1.8;\n    }\n    a { \n      color: #6B46C1; \n      text-decoration: none; \n    }\n    a:hover { \n      text-decoration: underline; \n    }\n    .metadata {\n      background: #f7fafc;\n      padding: 20px;\n      border-radius: 8px;\n      margin-top: 40px;\n      font-size: 0.9em;\n      color: #718096;\n    }\n    strong {\n      color: #2d3748;\n    }\n    .priority-high {\n      color: #e53e3e;\n      font-weight: bold;\n    }\n    .priority-medium {\n      color: #3182ce;\n      font-weight: bold;\n    }\n  </style>\n</head>\n<body>\n  <div class=\"container\">\n    ${content\n      .replace(/\\n/g, '<br>')\n      .replace(/### /g, '</div><div class=\"section\"><h3>')\n      .replace(/<br><br>/g, '</p><p>')\n      .replace(/=====+<br>/g, '<div class=\"divider\"></div>')\n      .replace(/🟥/g, '<span class=\"priority-high\">[HIGH PRIORITY]</span>')\n      .replace(/🟦/g, '<span class=\"priority-medium\">[IMPORTANT]</span>')\n    }\n  </div>\n</body>\n</html>`;\n\n// Create a simple JSON structure for easy parsing\nconst jsonStructure = {\n  company: company,\n  generatedAt: new Date().toISOString(),\n  sections: content.split('### SLIDE').map(section => {\n    const lines = section.trim().split('\\n');\n    return {\n      title: lines[0],\n      content: lines.slice(1).join('\\n').trim()\n    };\n  }).filter(s => s.title)\n};\n\nreturn [{\n  json: {\n    formats: {\n      text: textVersion,\n      markdown: markdownVersion,\n      html: htmlVersion,\n      json: jsonStructure\n    },\n    metadata: items[0].json\n  }\n}];"
      },
      "id": "format-converter",
      "name": "Format Converter",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [800, 600]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "leftValue": "={{ $('Data Validation').item.json.output_method }}",
              "rightValue": "email",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "output-router",
      "name": "Output Router",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [1000, 600]
    },
    {
      "parameters": {
        "sendTo": "={{ $json.metadata.client_email }}",
        "subject": "=SEO Strategy Proposal for {{ $json.metadata.company_name }}",
        "message": "=Dear {{ $json.metadata.company_name }} Team,\n\nPlease find attached your customized SEO strategy proposal. This comprehensive plan outlines our recommended approach to enhance your digital visibility and drive sustainable growth.\n\nThe proposal includes:\n- Current state analysis\n- Strategic recommendations\n- Implementation roadmap\n- Investment options\n- Expected ROI projections\n\nWe look forward to discussing how we can help achieve your goal: {{ $('Data Validation').item.json.business_goals }}\n\nBest regards,\n{{ $json.metadata.agency_name }} Team",
        "options": {
          "appendAttribution": false,
          "attachmentsUi": {
            "attachmentsBinary": [
              {
                "property": "attachment_0"
              }
            ]
          }
        }
      },
      "id": "email-sender",
      "name": "Send Email",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [1200, 500],
      "credentials": {
        "gmailOAuth2": {
          "id": "gmail-credentials",
          "name": "Gmail Account"
        }
      }
    },
    {
      "parameters": {
        "mode": "jsonToBinary",
        "convertAllData": false,
        "sourceKey": "formats.text",
        "fileName": "=seo-proposal-{{ $json.metadata.company_name.toLowerCase().replace(/ /g, '-') }}.txt",
        "mimeType": "text/plain",
        "dataIsBase64": false,
        "useRawData": false,
        "destinationKey": "attachment_0"
      },
      "id": "create-attachment",
      "name": "Create Attachment",
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [1000, 500]
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "webhook-response",
      "name": "Webhook Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [1200, 700]
    },
    {
      "parameters": {
        "jsCode": "// Prepare webhook response\nconst response = {\n  success: true,\n  message: 'SEO proposal generated successfully',\n  company: items[0].json.metadata.company_name,\n  generatedAt: new Date().toISOString(),\n  proposalContent: {\n    text: items[0].json.formats.text,\n    markdown: items[0].json.formats.markdown,\n    html: items[0].json.formats.html,\n    structured: items[0].json.formats.json\n  },\n  deliveryEmail: items[0].json.metadata.client_email\n};\n\nreturn [{ json: response }];"
      },
      "id": "prepare-response",
      "name": "Prepare Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1000, 700]
    },
    {
      "parameters": {
        "model": "openai/gpt-4o-mini",
        "options": {
          "temperature": 0.7,
          "maxTokens": 500
        }
      },
      "id": "openrouter-model",
      "name": "OpenRouter Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [-600, 0],
      "credentials": {
        "openRouterApi": {
          "id": "openrouter-api",
          "name": "OpenRouter API"
        }
      }
    },
    {
      "parameters": {
        "schemaType": "manual",
        "inputSchema": "{\n  \"type\": \"object\",\n  \"properties\": {\n    \"output\": {\n      \"type\": \"string\",\n      \"description\": \"The formatted output for the proposal section\"\n    }\n  },\n  \"required\": [\"output\"]\n}"
      },
      "id": "output-parser",
      "name": "Output Parser",
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [-400, 0]
    }
  ],
  "pinData": {
    "Webhook Trigger": [
      {
        "json": {
          "company_name": "TechCorp Solutions",
          "website_url": "https://techcorp.com",
          "industry": "Software Development",
          "target_locations": "San Francisco Bay Area",
          "competitors": "competitor1.com, competitor2.com, competitor3.com",
          "business_goals": "Increase qualified B2B leads by 50% within 12 months",
          "target_audience": "CTOs and IT Directors at mid-market companies",
          "monthly_budget": 5000,
          "contact_email": "marketing@techcorp.com",
          "package_preference": "growth",
          "urgency": "standard",
          "additional_notes": "Focus on enterprise software keywords"
        }
      }
    ]
  },
  "connections": {
    "Webhook Trigger": {
      "main": [
        [
          {
            "node": "Data Validation",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Data Validation": {
      "main": [
        [
          {
            "node": "Set Global Variables",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Global Variables": {
      "main": [
        [
          {
            "node": "AI: Title Slide",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI: Title Slide": {
      "main": [
        [
          {
            "node": "AI: Value of SEO",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI: Value of SEO": {
      "main": [
        [
          {
            "node": "AI: Current State",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI: Current State": {
      "main": [
        [
          {
            "node": "AI: Key Issues",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI: Key Issues": {
      "main": [
        [
          {
            "node": "AI: Performance Marketing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI: Performance Marketing": {
      "main": [
        [
          {
            "node": "AI: Focus Areas Overview",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI: Focus Areas Overview": {
      "main": [
        [
          {
            "node": "AI: Website Optimization",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI: Website Optimization": {
      "main": [
        [
          {
            "node": "AI: Local SEO",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI: Local SEO": {
      "main": [
        [
          {
            "node": "AI: Content Strategy",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI: Content Strategy": {
      "main": [
        [
          {
            "node": "AI: Backlink Strategy",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI: Backlink Strategy": {
      "main": [
        [
          {
            "node": "AI: Social Media SEO",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI: Social Media SEO": {
      "main": [
        [
          {
            "node": "AI: Technical SEO",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI: Technical SEO": {
      "main": [
        [
          {
            "node": "AI: SEO Packages",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI: SEO Packages": {
      "main": [
        [
          {
            "node": "AI: ROI Projections",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI: ROI Projections": {
      "main": [
        [
          {
            "node": "AI: Conclusion",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI: Conclusion": {
      "main": [
        [
          {
            "node": "AI: Call to Action",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI: Call to Action": {
      "main": [
        [
          {
            "node": "Document Assembly",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Document Assembly": {
      "main": [
        [
          {
            "node": "Format Converter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Converter": {
      "main": [
        [
          {
            "node": "Output Router",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Output Router": {
      "main": [
        [
          {
            "node": "Create Attachment",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Prepare Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Attachment": {
      "main": [
        [
          {
            "node": "Send Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Response": {
      "main": [
        [
          {
            "node": "Webhook Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI: Title Slide",
            "type": "ai_languageModel",
            "index": 0
          },
          {
            "node": "AI: Value of SEO",
            "type": "ai_languageModel",
            "index": 0
          },
          {
            "node": "AI: Current State",
            "type": "ai_languageModel",
            "index": 0
          },
          {
            "node": "AI: Key Issues",
            "type": "ai_languageModel",
            "index": 0
          },
          {
            "node": "AI: Performance Marketing",
            "type": "ai_languageModel",
            "index": 0
          },
          {
            "node": "AI: Focus Areas Overview",
            "type": "ai_languageModel",
            "index": 0
          },
          {
            "node": "AI: Website Optimization",
            "type": "ai_languageModel",
            "index": 0
          },
          {
            "node": "AI: Local SEO",
            "type": "ai_languageModel",
            "index": 0
          },
          {
            "node": "AI: Content Strategy",
            "type": "ai_languageModel",
            "index": 0
          },
          {
            "node": "AI: Backlink Strategy",
            "type": "ai_languageModel",
            "index": 0
          },
          {
            "node": "AI: Social Media SEO",
            "type": "ai_languageModel",
            "index": 0
          },
          {
            "node": "AI: Technical SEO",
            "type": "ai_languageModel",
            "index": 0
          },
          {
            "node": "AI: SEO Packages",
            "type": "ai_languageModel",
            "index": 0
          },
          {
            "node": "AI: ROI Projections",
            "type": "ai_languageModel",
            "index": 0
          },
          {
            "node": "AI: Conclusion",
            "type": "ai_languageModel",
            "index": 0
          },
          {
            "node": "AI: Call to Action",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "AI: Title Slide",
            "type": "ai_outputParser",
            "index": 0
          },
          {
            "node": "AI: Value of SEO",
            "type": "ai_outputParser",
            "index": 0
          },
          {
            "node": "AI: Current State",
            "type": "ai_outputParser",
            "index": 0
          },
          {
            "node": "AI: Key Issues",
            "type": "ai_outputParser",
            "index": 0
          },
          {
            "node": "AI: Performance Marketing",
            "type": "ai_outputParser",
            "index": 0
          },
          {
            "node": "AI: Focus Areas Overview",
            "type": "ai_outputParser",
            "index": 0
          },
          {
            "node": "AI: Website Optimization",
            "type": "ai_outputParser",
            "index": 0
          },
          {
            "node": "AI: Local SEO",
            "type": "ai_outputParser",
            "index": 0
          },
          {
            "node": "AI: Content Strategy",
            "type": "ai_outputParser",
            "index": 0
          },
          {
            "node": "AI: Backlink Strategy",
            "type": "ai_outputParser",
            "index": 0
          },
          {
            "node": "AI: Social Media SEO",
            "type": "ai_outputParser",
            "index": 0
          },
          {
            "node": "AI: Technical SEO",
            "type": "ai_outputParser",
            "index": 0
          },
          {
            "node": "AI: SEO Packages",
            "type": "ai_outputParser",
            "index": 0
          },
          {
            "node": "AI: ROI Projections",
            "type": "ai_outputParser",
            "index": 0
          },
          {
            "node": "AI: Conclusion",
            "type": "ai_outputParser",
            "index": 0
          },
          {
            "node": "AI: Call to Action",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "executionTimeout": 1800,
    "saveExecutionProgress": true
  },
  "versionId": "1.0.0",
  "meta": {
    "templateCredsSetupCompleted": false,
    "instanceId": "seo-proposal-generator"
  },
  "id": "seo-proposal-workflow",
  "tags": [
    {
      "name": "SEO",
      "id": "seo"
    },
    {
      "name": "AI",
      "id": "ai"
    },
    {
      "name": "Automation",
      "id": "automation"
    },
    {
      "name": "Proposal Generator",
      "id": "proposal"
    }
  ]
}
